<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.minecade.prepflow.savebackup" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>PrepFlow Save Backup</name>
    <description>Native Android Save As support for PrepFlow backups.</description>
    <js-module src="www/saveBackup.js" name="SaveBackup">
        <clobbers target="cordova.plugins.saveBackup" />
    </js-module>
    <platform name="android">
        <source-file src="src/android/SaveBackup.java" target-dir="src/com/minecade/prepflow/savebackup" />
    </platform>
</plugin>
